@main-fontcolor-gray:   var( --main-fontcolor-gray, #797979);
@main-bordercolor-1:    var(--main-bordercolor-1, #22250b);
@main-backgroundcolor:  var(--main-backgroundcolor, #ffffffdd);
@main-backgroundcolor-2:  var(--main-backgroundcolor-2, #ffffff);
@main-bordercolor:  var(--main-bordercolor, #221f1f);
@main-fontcolor:  var(--main-fontcolor, #333);
@main-bordercolor-gray:  var(--main-bordercolor-gray, #f0f0f2);
@gradient-1:  var(--gradient-1, '-45deg, #e5ebea, #2c64dd, #a1b8ce, #bdd1f0, #fff');
// :root {
//   --main-bordercolor-1: #22250b;
//   --main-backgroundcolor: #ffffff;
// 